
### symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a01bdb2503c86b1bb3bad2ff71c19de5

### symfony/mailer ###
MAILER_DSN="smtp://maxibazan@gmail.com:1234567890@smtp.gmail.com:587?verify_peer=0"

# MAILER_DSN="[transport]://[usuario]:[contraseña]@[servidor]:[puerto]?[opciones]"
MAIL_EMISOR="maxibazan@gmail.com"

### doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@127.0.0.1:3306/sistema_soporte"

### NOMBRE DE LA APLICACIÓN ###
SITE_NAME="SISTEMA DE SOPORTE"